<a href="https://colab.research.google.com/github/IevaViktorija/Array-JAVA/blob/main/Phyton_lessons_from_March_till_July.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA TYPE**

In [ ]:
# DATA TYPES
#intigers: - and + /veseli skaitļi
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [ ]:
# floats - skaitļi ar komatu
nearly_pi = 3.14
print(nearly_pi)
print(type(nearly_pi))

nearly_pi1 = 22/7
#nooapaļisim ar 2 cipariem aiz komata - Rounding float
rounded_nearly_pi1 = round(nearly_pi1,2) # ar pēdējo ciparu norāda, cik cipari aiz komata

3.14
<class 'float'>

In [ ]:
# booleans - False/True raksta ar lielo burtu
boolean1 = True
print(boolean1)
print(type(boolean1))

boolean2 = (1>2)
print(boolean2) #rezultāts būs "False", jo 1 nav lielāks par 2
print(type(boolean2))

boolean3 = not boolean2 # with "not" iedos pretēju rezultātu
print(boolean3)

boolean5 = True + False # True = 1, False = 0 // 1+0 = 1
print(boolean5)

boolean6 = True + False + True + True
print(boolean6)
print(type(boolean6)) # returns 'int' jo atbilde ir cipars

True
<class 'bool'>
False
<class 'bool'>
True
1
3
<class 'int'>

In [ ]:
# Strings - teksts
string1 = "Hello all"
print(string1)
print(type(string1))
len(string1)

# conversion:
nearly_pi_string = '3.14'
type(nearly_pi_string)

nearly_pi_converted= float(nearly_pi_string)
type(nearly_pi_converted)

new_string = "abc" + "def"
print(new_string)

Hello all
<class 'str'>
abcdef

In [ ]:
# Addition
a = 5
b= 3
sum = a + b
print(f'SUM: {sum}')

SUM: 8

In [ ]:
# Subtraction
difference = a - b
print(f'Difference: {difference}')

Difference: 2

In [ ]:
# Multiplication
multip = a * b
print(f'Multiplication: {multip}')

Multiplication: 15

In [ ]:
# Dividing
divide = a / b
print(f'Div: {divide}')

Div: 1.6666666666666667

In [ ]:
# Expo - aprēķinās 5 pakāpē 3
power = a ** b
print(power)

125

In [ ]:
input1 = input("How old are you?:") # this is a string
input2 = input('How old am I:') # this is a string
sum = input1 + input2

How old are you?:89
How old am I:99

In [ ]:
# let's calculate density of an area
area = input('Enter area:')
population = input('Enter population:')
area_int = int(area) # jāpārvērš par skaitļiem, jo input ir string un string nevar dalīt un lietot matemātiskā funkcijā
population_int = int(population)
density = population_int / area_int
print(f'Average density is: {density}')

# pounds to kg
pounds = input('Enter the weight in pounds:')
pounds_float = float(pounds)
conversion_factor = 0.453592
kg = round(pounds_float * conversion_factor,2)
print(f'Weight in pounds: {pounds}, Weight in kg: {kg}')

Enter area:33
Enter population:33
Average density is: 1.0
Enter the weight in pounds:44
Weight in pounds: 44, Weight in kg: 19.96

In [ ]:
# BMI
weight = input('Enter your weight in kg:')
height = input('Enter your height in meters')
weight_int = float(weight)
height_int = float(height)
bmi = weight_int / (height_int ** 2)
print('Your BMI is:', round(bmi,2))

Enter your weight in kg:117
Enter your height in meters2.03
Your BMI is: 28.39

In [ ]:
# Equal
x = 5
y = 5

print( x == 5)
print('1' == 1 )

# not equal x !=

True
False

In [ ]:
# if else statements

x = 50

if x < 50:
  print( 'Less than 50 ' )
else:
  print('More than or equal to 50')

a = 20
if a > 10:
  print('a is above 10')
  print('this is in the a block')
print('this is outside a block')

age = int(input('How old are you')) #jāatceras ka input vienmēr atgriež "string", tapēc obligāti int priekšā
if age >= 18:
  print('You are eligible to vote')
  print('Please preceed to the voting booth')
else:
  print("You are NOT eligible to vote")
print("Thank you for participating")

More than or equal to 50
a is above 10
this is in the a block
this is outside a block
How old are you34
You are eligible to vote
Please preceed to the voting booth
Thank you for participating

In [ ]:
number = int(input('Enter a number: '))
if number % 2 == 0:
  print(f'The number {number} is even')
else:
  print(f'The number {number} is odd')

Enter a number: 567890
The number 567890 is even

In [ ]:
# Payment approval
# if the transaction can be done based on the account balance
try:
  account_balance = float(input("Enter your account balance: "))
  transaction_amount = float(input("Enter the amount of transaction: "))

  if account_balance >= transaction_amount:
      print("You are golden!")
  else:
      print("Sorry, your funds are not enough.")
except:
  print("Wrong input")

Enter your account balance: 333
Enter the amount of transaction: xas
Wrong input

In [ ]:
# TEMPERATURE CONVERSATION BETWEEN CELSIUS AND FARENHEIT


conversion_direction = input("Select the direction of conversion (Celsius to Fahrenheit - 'C to F' or Fahrenheit to Celsius - 'F to C'): ")


temperature = float(input("Enter the temperature value to convert: "))


if conversion_direction == 'C to F' or conversion_direction == 'c to f':
    converted_temperature = (temperature * 9/5) + 32
    print(f"{temperature} degrees Celsius is equal to {converted_temperature} degrees Fahrenheit.")

elif conversion_direction == 'F to C' or conversion_direction == 'f to c':

    converted_temperature = (temperature - 32) * 5/9
    print(f"{temperature} degrees Fahrenheit is equal to {converted_temperature} degrees Celsius.")

else:
    print("Invalid conversion direction. Please select either 'C to F' or 'F to C'.")

In [ ]:
# Access management system
# user; password

STORED_USERNAME = 'user123'
STORED_PASSWORD = 'pass123'

input_username = input("Enter your username: ")
input_password = input("Enter your password: ")

if input_username == STORED_USERNAME and input_password == STORED_PASSWORD:
  print("You are good to go!")
else:
  print("Sorry, access denied.")

Enter your username: user123
Enter your password: pass123
You are good to go!

In [ ]:
x =

if x < 5:
  print ('Small')
elif x < 15:
  print ('Medium')
else:
  print ('Large')

Large

Grading

In [ ]:
try:
  score = int(input('Enter you score: '))

  if score >= 90:
    print ("Your grade is A!")
  elif score >= 80:
    print ("Your grade is B!")
  elif score >= 70:
    print ("Your grade is C!")
  elif score >= 60:
    print ("Your grade is D!")
  else:
    print ("Your score is F! Learn more!!!")
except:
  print('Wrong input')

Enter you score: ghy
Wrong input

In [ ]:
input_fruit = input("Enter a fruit name: ")

fruits = ['apple', 'orange', 'banana', 'grape', 'kiwi']
if input_fruit in fruits:
  print(f"Yes, {input_fruit} is in the list")

else:
    print(f'{input_fruit} is not in the list')

Enter a fruit name: okme
okme is not in the list

In [ ]:
numbers = [1, 2, 3, 4, 5]
input_number = int(input("Enter a number: "))

if input_number in numbers:
    if input_number %2 == 0:
      print("This is an even number")
    else:
      print ("This is an odd number")
else:
    print('Your number is not in the list')

Enter a number: 2
This is an even number

# **LIST METHODS**

In [ ]:
# LIST METHODS:
# Append

items = ['apple', 'kiwi', 'orange']
print(f'original items {items}')

my_value = 'banana'
items.append(my_value)
print(f'original items {items}')

# Copy

original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()
original_list.append(6)
print(original_list)
print(copied_list)

# Count

numbers = [1, 1, 2, 3, 4, 5, 5, 6]
target_number = 5
count = numbers.count(target_number)
print(f"The number {target_number} appers {count} times in the list")

# Index

fruits = ['apple', 'banana', 'orange']
fruits_index = fruits.index('banana')
print(f'Index of "banana" is: {fruits_index}')

# Insert

numbers = [2, 4, 5, 8, 1]
numbers.insert(2, 10) #pirmais cipar iekavās norāda indeksu, vietu kur būs cipars, otrais cipars pasaka kādu ciparu vajag ievietot
print(numbers)

# POP - lai noņemtu ciparu
numbers.pop(2) # cipars norāda indeksu, nonems treso ciparu
print(numbers)

#Sort
numbers.sort()
print(numbers)

In [ ]:
# Range
numbers = list(range(10, 50, 10)) #1.cip ar ko sāksies, 2.cip ar ko beigsies, 3.cip step - cik jāizlaiž starp katru skaitli
print(numbers)


numbers_with_range = range(1, 10)
list(range(1, 10, 2))
for i in numbers_with_range:
  print(i)

In [ ]:
# FOR LOOP
my_numbers = [2, 5, 55, 33, 7, 9, 0, 1, 74, 30]
for number in my_numbers:
  if number > 5:
     print(f'{number} is bigger than 5')
  elif number < 5:
      print(f'{number} is smaller than 5')
  else:
        print("Your selected number is 5")

In [ ]:
for letter in "I love Phyton":
  print(letter) # šajā gadījumā burti būs stabiņā

for digits in "This is second example":
  print(digits, end = '') #šajā gadījumā burti būs vienā līnijā

In [ ]:
counter = 1
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
previous_city = None

year_I_visited = [2010, 2014, 2015, 2016, 2018, 2020]
len(cities_i_have_been_to) # god garumu, cik ir vērtības array


for city in cities_i_have_been_to:
  if previous_city == None:
    print(f'{counter}. I have been to {city}.')
  else:
      print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city
  counter = counter + 1

range(len(cities_i_have_been_to))
list(range(len(cities_i_have_been_to))) # creats a list of indexes, nenosauks nosaukumus, tikai cipari bus
for i in range(len(cities_i_have_been_to)):
  print(f'I have been to {cities_i_have_been_to[i]}. I visited that city {year_I_visited[i]}')

1. I have been to Tallin.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.
I have been to Tallin. I visited that city 2010
I have been to Riga. I visited that city 2014
I have been to Tartu. I visited that city 2015
I have been to Aluksne. I visited that city 2016
I have been to Viru. I visited that city 2018
I have been to Ventspils. I visited that city 2020

In [ ]:
# nested lists
matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in matrix_2d:
  print(f'This is the sub-list: {i}')
  for j in i:
    print(f'These are the elements of the sub-list {j} ')

This is the sub-list: [1, 2, 3]
These are the elements of the sub-list 1
These are the elements of the sub-list 2
These are the elements of the sub-list 3
This is the sub-list: [4, 5, 6]
These are the elements of the sub-list 4
These are the elements of the sub-list 5
These are the elements of the sub-list 6
This is the sub-list: [7, 8, 9]
These are the elements of the sub-list 7
These are the elements of the sub-list 8
These are the elements of the sub-list 9

In [ ]:
# GRADE MAPPING EXERCISE
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]
student_names = ["Ieva", "Laila", "Andris", "Elina", "Eva"]
student_scores = [85, 72, 54, 33, 90]

for i in range(len(student_scores)):
  print(student_scores[i])
  print(student_names[i])
  score = student_scores[i]
  for threshold, letter_grade in grade_mapping:
    if score >= threshold:
      print(f'Hi, {student_names[i]}, your letter grade is {letter_grade}')
      break

In [ ]:
students = ['Alice', 'Greg', 'Baiba']
for index, student in enumerate(students, start=1):
  print(f'Student {index}: {student}')

Student 1: Alice
Student 2: Greg
Student 3: Baiba

In [ ]:
# To check if an item is in the list

clothing_list = ['skirt', 'jeans', 'dress', 'bikini', 'shorts']
user_input = input("Please enter a name of a clothing: ")

for check_item in clothing_list:
    if check_item == user_input:
        print(f'{user_input} is in the list')
        break
else:
    print(f'{user_input} is not in in the list')

Please enter a name of a clothing: jeans
jeans is in the list

# **WHILE LOOP**

In [ ]:
counter = 0 #lai "while loop" nebūtu bezgalīgs ir pirms tā jāizveido counter
while True: # "true" vietā varu rakstit any logical expression
  counter = counter + 1
  print(counter) # this will never stop because there is no break

1

In [ ]:
counter = 0
while counter < 10 :
  counter = counter + 1
  print(counter)

counter = 0
while True:
  counter = counter + 2
  print(counter)
  break #ar "break" var apstādināt while ciklu, tas ir 1 veids

counter = 0
while True:
  counter = counter + 1
  print(counter)
  if counter < 10: # otrs veids var apstādināt ar if/else
    continue
  else:
    break

1
2
3
4
5
6
7
8
9
10
2
1
2
3
4
5
6
7
8
9
10

In [ ]:
# CTIES I HAVE  BEEN TO:
counter = 0 #loģika, lai parādītos cipars pirms katra jautājuma
cities_list = [] #loģika, lai izveidotu saraksta veidā - sākas ar tukšu list
while True: #var rakstīt arī city != "STOP"
  city = input("What cities you have been to? To stop write STOP. ")

#tagad loģika lai pārbaudītu vai user ierakstījis STOP
  if city == 'STOP':
    print("You entered STOP")
    break
  else:
    counter = counter + 1
    print( f" {counter}. I have been in this city: {city}") #counter could be replaced with {len(cities_list)}
    cities_list.append(city) #šeit loģika, lai ievadītās pilsētas tiktu uzskaitītas, pievienotas

print(f'You have been to {len(cities_list)} cities')

What cities you have been to? To stop write STOP. uohp
 1. I have been in this city: uohp
What cities you have been to? To stop write STOP. opjo
 2. I have been in this city: opjo
What cities you have been to? To stop write STOP. STOP
You entered STOP
You have been to 2 cities

# **Import a libary**

In [ ]:
import random
random.randint(1, 101) # cipari iekavās nosaka no kura līdz kuram ciparam dators randomā uzraksts ciparu
random_number = random.randint(33, 48)
print(random_number)

42

In [ ]:
# TUPLES - are not immutable, once it has longitude & latidute you cannot change it, cannot append anything to it
my_dict = {} #like this define a dictionary
my_list = [] # like this define a list
my_tuple = () # like this define a tuple

my_tuple = (1, 2, 3)
print(my_tuple)
new_list = [1, 2, 3, 4]
print(new_list) #prints the sum of the list

# transform the list to tuple
new_tuple = tuple(new_list)
type(new_tuple)
print(new_tuple)

new_tuple[0]
new_tuple[0:3] # this is how you can index into tuples

len(new_tuple) #to check the length
min(new_tuple) #min
max(new_tuple)
sum(new_tuple)

(1, 2, 3)
[1, 2, 3, 4]
(1, 2, 3, 4)

10

# **DICTIONARY**

In [ ]:
#DICTIONARY

dictionary = {} # 1st way to create a curly braces method
another_dictionary = dict() #2nd way is to create dict method

dictionary = {}
dictionary['key1'] = 'value1' #add an elemento to the dictionary
dictionary['key2'] = 'value2'
dictionary['key2'] #use the key to get to the element

# storing a list in a dictionary
dictionary['datorium_list'] = ['Phyton', 'Java', 'C#']
dictionary

my_friends = {'Alise': 30,
              'John': 40,
              'Linda': 28}
my_friends['Linda']

#update()
incoming_friends = {'Arta': 28}
my_friends.update(incoming_friends) #with a dot . I call a method
print(my_friends)

#pop() - remove an element
my_friends.pop('Linda')


# get()
print(my_friends)
my_friends.get('John')
my_friends.get('Alise')
my_friends.get('Linda', 'Does not exist')

{'Alise': 30, 'John': 40, 'Linda': 28, 'Arta': 28}
{'Alise': 30, 'John': 40, 'Arta': 28}

'Does not exist'

In [ ]:
# items(), keys(), values()

# items() - returns all the obj from the dictionary
my_friends.items()

#keys() - returns keys
my_friends.keys()

# values() - returns values
my_friends.values()

# **create a contact book**

In [ ]:
contact_book = {} # empty dictinary where I will store my contacts

while True:
  print('write STOP when you finished adding conatacts')
  name = input('Enter the name: ')
  if name == 'STOP':
    print('You stopped adding contacts')
    break
  number = input('Enter your number: ')
  contact_book[name] = number #šajā gadījumā "name" ir atslēga un "number" ir value

#new_dict = {name: number}
#contact_book.update(new_dict)
# contact_book[name] = number # adding element to the dictionary
print(f'Contact {name} added succesfully!')

write STOP when you finished adding conatacts
Enter the name: ieva
Enter your number: 78
write STOP when you finished adding conatacts
Enter the name: uiupo
Enter your number: ioho
write STOP when you finished adding conatacts
Enter the name: STOP
You stopped adding contacts
Contact STOP added succesfully!

In [ ]:
#Store inventory
inventory={}

def add_item(inventory): #this is a function addind item to dictionary
  store_item = input('Enter item name')
  quantity= input('Enter amount')
  inventory[store_item] = quantity
  print(f'Item {store_item} quantity updated')

while True:
  exit = input("write STOP if you want to exit")
  if exit == 'STOP':
    break
  add_item(inventory) #every f-ju need to be called, this is how to call f-ju

write STOP if you want to exitno
Enter item namebij;
Enter amountjhpo
Item bij; quantity updated
write STOP if you want to exitioh
Enter item nameioho
Enter amountSTOP
Item ioho quantity updated
write STOP if you want to exitSTOP

# **RANDOM / Importing libary**

In [ ]:
import random
random_number = random.randint(1, 101)
print(random_number)

while True:

  guess = input('Guess the number between 1 and 100, to quit write "stop"!')
  if guess == "stop":
    print("You stopped the game")
    break

  guess = int(guess)
  if guess == random_number:
    print("Congratulations, you guessed the number!")
  else:
    if guess > random_number:
      print("Wrong, try lower.")
    else:
      print("Wrong, try higer.")

35
Guess the number between 1 and 100, to quit write "stop"!21
Wrong, try higer.
Guess the number between 1 and 100, to quit write "stop"!40
Wrong, try lower.
Guess the number between 1 and 100, to quit write "stop"!30
Wrong, try higer.
Guess the number between 1 and 100, to quit write "stop"!33
Wrong, try higer.
Guess the number between 1 and 100, to quit write "stop"!37
Wrong, try lower.
Guess the number between 1 and 100, to quit write "stop"!35
Cingratulations, you guessed the number!
Guess the number between 1 and 100, to quit write "stop"!stop
You stopped the game

Individual Task - add deposit!

In [ ]:
print("Hello! Welcome to the World's Best Bank.")
print(f"The total amount of your balance is {balance}. ")

balance = 0
deposit = input("Please enter the amount of your deposit: ")

deposit = int(deposit)
balance = 0 + deposit
print(f"Your balance now is {balance} EUR.")

while True:
  choiceOfDepositMore = input('To make an additional deposit, enter the amount of your next deposit. To stop depositing, type "exit". ')
  if choiceOfDepositMore == "exit":
    print("You have left your bank account. See you next time!")
    break
  deposit = int(deposit)
  choiceOfDepositMore = int(choiceOfDepositMore)
  deposit += choiceOfDepositMore
  print(f"The deposit has been successfully added to your bank account. Your total balance now is: {deposit} EUR.")

Hello! Welcome to the World's Best Bank.
The total amount of your balance is 100.
Please enter the amount of your deposit: 10
Your balance now is 10 EUR.
To make an additional deposit, enter the amount of your next deposit. To stop depositing, type "exit". 20
The deposit has been successfully added to your bank account. Your total balance now is: 30 EUR.
To make an additional deposit, enter the amount of your next deposit. To stop depositing, type "exit". exit
You have left your bank account. See you next time!

# **FUNCTIONS**

In [ ]:

def cleaner(item, fluid, times):
  print(f'I have cleaned the {item} with {fluid} {times} times')
cleaner('smartphone', "water", 3)

def sum_two_numbers(number_1, number_2):
  return number_1 + number_2

result = sum_two_numbers(4, 5)
print(result)

I have cleaned the smartphone with water 3 times
9

In [ ]:
class Cat:
  # __init__ method runs automatically
  # when an object from this class is created
  # this method also called a `constructor`
  def __init__(self, name, age): #self is a requred parameter and refers to the instance
    self.name = name
    self.age = age

  def voice(self, sound):
    print(f'{sound}!')

  def introduce(self):
    print(f"Hi, my name is {self.name}, I am {self.age} years old. Nice to meet you!")

cat1 = Cat('Coder', 3) # creare an instance of the class, called an object
cat2 = Cat('Minka', 12) # creare an instance of the class, called an object
cat3 = Cat('Miisu', 5) # creare an instance of the class, called an object

print(cat1.age) # read the instance/object variable
cat3.voice("Meow")

3
Meow!

In [ ]:
class Cat:

  def __init__(self, name, age):
    self.name = name
    self.age = age
    self.sound = 'Meow' # assigning a sound

  def voice(self):
    print(f'{self.sound}!')

  def eat(self, food):
    print(f'{self.name} is eating {food}')

  def introduce(self):
    print(f'Hi, my name is {self.name}, I am {self.age} years old. Nice to meet you!')

cat1 = Cat('Coder', 3)
cat2 = Cat('Minka', 12)
cat3 = Cat('Miisu', 5)

print(cat1.age)

cat3.voice()
cat1.voice()

cat3.introduce()

cat3.eat('Chicken meat')

# **Class**
My Bank

In [ ]:
import datetime
import json

class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1

  def add_account(self, account):
    self.accounts.append(account)

class Account:
  def __init__(self, number, currency, balance = 0.0):
   self.number = number
   self.currency = currency
   self.balance = balance
   self.transactions = []

  def make_deposit(self, amount, note):
    self.transactions.append(Transaction(self.currency, amount, note ))
    self.balance += amount

  def make_withdrawal(self, amount, note):
    self.transactions.append(Transaction(self.currency, -amount, note))
    self.balance -= amount

class Transaction:
  def __init__(self, currency, amount, note): #šeit nelieku datetime, tapēc ka importēju automātiksu metodi
    self.currency = currency
    self.amount = amount
    self.note = note
    self.time_stamp = datetime.datetime.now()


clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

clients[0].add_account(Account('EE079iohoih', "EUR", 1000))
clients[0].add_account(Account('EC7780-oih', "EUR", 200.01))
clients[0].add_account(Account('EE079i999h', "EUR"))
clients[1].add_account(Account('AA079iohoih', "US"))
clients[2].add_account(Account('ER07dfthoih', "EUR", 3000.55))

clients[0].accounts[0].make_deposit( 1200, "salary")
clients[0].accounts[0].make_withdrawal(50, "grocery")
clients[0].accounts[0].make_withdrawal(100, "clothes")


print(f'We have {Client.number_of_clients} clients in our bank:')
for client in clients:
  print(f'Client {client.name} has the following account:')
  for account in client.accounts:
    print(f'{account.number} ({account.currency}) {account.balance}')
    for transaction in account.transactions:
      print (f' {transaction.time_stamp} {transaction.currency} {transaction.amount}')

We have 3 clients in our bank:
Client Anna has the following account:
EE079iohoih (EUR) 2050
 2024-06-01 09:22:37.456190 EUR 1200
 2024-06-01 09:22:37.456330 EUR -50
 2024-06-01 09:22:37.456432 EUR -100
EC7780-oih (EUR) 200.01
EE079i999h (EUR) 0.0
Client Oskar has the following account:
AA079iohoih (US) 0.0
Client Jenifer has the following account:
ER07dfthoih (EUR) 3000.55

In [ ]:
# CSV - coma separated  value, very good if I have flat data

JSON - Java Script Object Notation

{
    "clients": [
        {
            "id": "123456",
            "name": "Anna",
            "accounts": [
              {
                "number": "EE573784623652",
                "currency": "EUR",
                "balance": 1000.00
              },
              {
                "number": "JP573765555652",
                "currency": "JPY",
                "balance": 25000.00
              },
              {
                "number": "US655567778888",
                "currency": "USD",
                "balance": 0
              }
            ]
          },
          {
            "id": "987654",
            "name": "Oskar",
            "accounts": [
              {
                "number": "PL849512635445",
                "currency": "PLN",
                "balance": 47800.00
              }
            ]
          },
        {}
    ]
}

In [ ]:
import json
# Define student_details dictionary
student_details ={
    "name" : "sathiyajith",
    "rollno" : 56,
    "cgpa" : 8.6,
    "phonenumber" : "9976770500"
}

# Convert and write JSON object to file
with open("sample.json", "w") as outfile:
    json.dump(student_details, outfile)

JSON to a dictionary

In [ ]:


# reading JSON into a dictionary
import json

with open('clients_data.json') as json_file:
    data = json.load(json_file)

for client in data:
  print(f'{client["name"]} ({client["id"]})')

FileNotFoundError: [Errno 2] No such file or directory: 'clients_data.json'

In [ ]:
# JSON !!! This code creates json and data in it
import datetime
import json

class Client:
    number_of_clients = 0

    def __init__(self, id, name):
        self.id = id
        self.name = name
        self.accounts = []
        Client.number_of_clients += 1

    def add_account(self, account):
        self.accounts.append(account)

    def to_dict(self):
        return {
            'id': self.id,
            'name': self.name,
            'accounts': [account.to_dict() for account in self.accounts]
        }

class Account:
    def __init__(self, number, currency, balance=0.0):
        self.number = number
        self.currency = currency
        self.balance = balance
        self.transactions = []

    def make_deposit(self, amount, note):
        self.transactions.append(Transaction(self.currency, amount, note))
        self.balance += amount

    def make_withdrawal(self, amount, note):
        self.transactions.append(Transaction(self.currency, -amount, note))
        self.balance -= amount

    def to_dict(self):
        return {
            'number': self.number,
            'currency': self.currency,
            'balance': self.balance,
            'transactions': [transaction.to_dict() for transaction in self.transactions]
        }

class Transaction:
    def __init__(self, currency, amount, note):
        self.currency = currency
        self.amount = amount
        self.note = note
        self.time_stamp = datetime.datetime.now()

    def to_dict(self):
        return {
            'currency': self.currency,
            'amount': self.amount,
            'note': self.note,
            'time_stamp': self.time_stamp.isoformat()
        }

# now, let us work using those classes
# adding clients to a list
clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

# adding accounts to clients
clients[0].add_account(Account('EE654987564321', 'EUR', 1000.0))
clients[0].add_account(Account('JP582147859635', 'JPY', 25000.30))
clients[0].add_account(Account('US654987643214', 'USD'))
clients[1].add_account(Account('PL849512635445', 'PLN', 47800.00))
clients[2].add_account(Account('SE741254956587', 'SEK', 200.18))

# let's make some transactions
clients[0].accounts[0].make_deposit(1200, 'Salary')
clients[0].accounts[0].make_withdrawal(50, 'Grocery')
clients[0].accounts[0].make_withdrawal(140, 'Clothes')
clients[0].accounts[0].make_withdrawal(20, 'Dinner')

# Collect all client data into a dictionary
clients_data = [client.to_dict() for client in clients]

# Save the data to a JSON file
with open("clients_data.json", "w") as outfile:
    json.dump(clients_data, outfile, indent=4)

# **INDIVIDUAL TASK**

In [ ]:
class Client:
    number_of_clients = 0

    def __init__(self, client_id, name):
        self.client_id = client_id
        self.name = name
        self.transactions = []
        Client.number_of_clients += 1

    def add_transaction(self, transaction):
        self.transactions.append(transaction)

class Item:
    def __init__(self, item_id, name, price):
        self.item_id = item_id
        self.name = name
        self.price = price

    def display_info(self):
        formatted_price = f"EUR {self.price:,.2f}"
        return f"Item ID: {self.item_id}, Name: {self.name}, Price: {formatted_price}"

class Transaction:
    def __init__(self, transaction_id, client, items):
        self.transaction_id = transaction_id
        self.client = client
        self.items = items

    def display_details(self):
        item_list = "\n".join([item.display_info() for item in self.items])
        return f"Transaction ID: {self.transaction_id}\nItems:\n{item_list}"

clients = [
    Client(1, "Agnese"),
    Client(2, "Baiba"),
    Client(3, "Andris")
]

items = [
    Item(1, "BMW", 110000.00),
    Item(2, "Mercedes-Benz", 120000.00),
    Item(3, "Audi", 80000.00)
]

transactions = [
    Transaction(1, clients[0], [items[0], items[2]]),
    Transaction(2, clients[1], [items[1]]),
    Transaction(3, clients[2], [items[0]])
]

clients[0].add_transaction(transactions[0])
clients[1].add_transaction(transactions[1])
clients[2].add_transaction(transactions[2])

print("All Clients:")
for client in clients:
    print(f"Client ID: {client.client_id}, Name: \033[1m{client.name}\033[0m:")
    print("Transactions:")
    for transaction in client.transactions:
        print(transaction.display_details())
        print("Items Purchased:")
        for item in transaction.items:
            print(f"\t{item.display_info()}")
        print()

All Clients:
Client ID: 1, Name: Agnese:
Transactions:
Transaction ID: 1
Items:
Item ID: 1, Name: BMW, Price: EUR 110,000.00
Item ID: 3, Name: Audi, Price: EUR 80,000.00
Items Purchased:
	Item ID: 1, Name: BMW, Price: EUR 110,000.00
	Item ID: 3, Name: Audi, Price: EUR 80,000.00

Client ID: 2, Name: Baiba:
Transactions:
Transaction ID: 2
Items:
Item ID: 2, Name: Mercedes-Benz, Price: EUR 120,000.00
Items Purchased:
	Item ID: 2, Name: Mercedes-Benz, Price: EUR 120,000.00

Client ID: 3, Name: Andris:
Transactions:
Transaction ID: 3
Items:
Item ID: 1, Name: BMW, Price: EUR 110,000.00
Items Purchased:
	Item ID: 1, Name: BMW, Price: EUR 110,000.00

In [ ]:
filename = '/content/births.txt'
with open(filename, 'r') as file:
  content = file.read()

print('Standard File I/O')
print(content)


#for line in content:
  #print(line)   ---> šis katru char izpintēs taseviški un viss būs kollonā uz leju

Jan 1048
Feb 989
Mar 1108
Apr 1207
May 1186
Jun 1155
Jul 1391
Aug 1305
Sep 1226
Oct 1155
Nov 1017
Dec 1111

Standard File I/O
J
a
n

1
0
4
8


F
e
b

9
8
9


M
a
r

1
1
0
8


A
p
r

1
2
0
7


M
a
y

1
1
8
6


J
u
n

1
1
5
5


J
u
l

1
3
9
1


A
u
g

1
3
0
5


S
e
p

1
2
2
6


O
c
t

1
1
5
5


N
o
v

1
0
1
7


D
e
c

1
1
1
1

In [ ]:

for line in content:
  print(line, end='')

Jan 1048
Feb 989
Mar 1108
Apr 1207
May 1186
Jun 1155
Jul 1391
Aug 1305
Sep 1226
Oct 1155
Nov 1017
Dec 1111

In [ ]:
filename = input("Enter the filename: ")

try:
    with open(filename, 'r') as file:
        content = file.readlines()

    print('Standard File I/O')
    print(content)
except FileNotFoundError:
    print(f"Error: The file '{filename}' was not found.")

Enter the filename: /content/births.txt
Standard File I/O
['Jan 1048\n', 'Feb 989\n', 'Mar 1108\n', 'Apr 1207\n', 'May 1186\n', 'Jun 1155\n', 'Jul 1391\n', 'Aug 1305\n', 'Sep 1226\n', 'Oct 1155\n', 'Nov 1017\n', 'Dec 1111\n']

In [ ]:



with open('/content/births.txt', 'r') as file:
    births = file.readlines()
for birthline in births:
  print(birthline[4:]) #ar šo izdrukāju visu kas ir pēc trešā simbola katrā līnijā

birth_sum = 0
for birthline in births:
    birth_sum = birth_sum + int(birthline[4:])

print(birth_sum)

1048

989

1108

1207

1186

1155

1391

1305

1226

1155

1017

1111

13898

In [ ]:
with open('/content/births.txt', 'r') as file:
    births = file.readlines() #LIST, separated by coma

with open('/content/deaths.txt', 'r') as file:
    deaths = file.readlines()

for i in range(len(births)):
  birthline = births[i]
  deathline = deaths [i]

  birthnumber = int(birthline[4:])
  deathnumber = int(deathline[4:])

  growth = birthnumber - deathnumber

  print(growth)

  month = birthline[:3]
  if growth  > 0 :
    print(month, growth) #šis izprintē tos mēnešus tikai kur dzimstība lielāka par mirstību

-527
-178
-141
-74
-117
40
Jun 40
64
Jul 64
103
Aug 103
49
Sep 49
-110
-201
-248

PANDAS libary - for data ussualy

In [ ]:
import pandas as pd

births = pd.read_csv('/content/births.txt', header=None, delimiter = ' ')

birth_column_names = ['Month', 'Nr of Births']
births.columns = birth_column_names # īsāk var šādi to pašu panākt: births.columns = ['Month', 'Number']
births

   Month  Nr of Deaths
0    Jan          1575
1    Feb          1167
2    Mar          1249
3    Apr          1281
4    May          1303
5    Jun          1115
6    Jul          1327
7    Aug          1202
8    Sep          1177
9    Oct          1265
10   Nov          1218
11   Dec          1359

In [ ]:
deaths = pd.read_csv('/content/deaths.txt', header=None, delimiter = ' ')

death_column_names = ['Month', 'Nr of Deaths']
deaths.columns = death_column_names
deaths

   Month  Nr of Deaths
0    Jan          1575
1    Feb          1167
2    Mar          1249
3    Apr          1281
4    May          1303
5    Jun          1115
6    Jul          1327
7    Aug          1202
8    Sep          1177
9    Oct          1265
10   Nov          1218
11   Dec          1359

In [ ]:
births['Saldo'] = births['Nr of Births'] - deaths['Nr of Deaths'] #ar šo pievienoju beigās vēl vienu kolonu
births

   Month  Nr of Births  Saldo
0    Jan          1048   -527
1    Feb           989   -178
2    Mar          1108   -141
3    Apr          1207    -74
4    May          1186   -117
5    Jun          1155     40
6    Jul          1391     64
7    Aug          1305    103
8    Sep          1226     49
9    Oct          1155   -110
10   Nov          1017   -201
11   Dec          1111   -248

In [ ]:
births['Nr of deaths'] = deaths['Nr.Deaths']
births

KeyError: 'Nr.Deaths'

In [ ]:
# EXPORTING
file_name = '/content/output.csv'

births.to_csv(file_name, index = False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

data = pd.read_csv('/username.csv', header=None, delimiter = ';')

data_column_names = ['Username', 'Identifier', 'First Name', 'Last Name']
data.columns = data_column_names
data

    Username   Identifier  First Name  Last Name
0   Username   Identifier  First name  Last name
1   booker12         9012      Rachel     Booker
2     grey07         2070       Laura       Grey
3  johnson81         4081       Craig    Johnson
4  jenkins46         9346        Mary    Jenkins
5    smith79         5079       Jamie      Smith

INDIVIDUAL TASK

In [10]:
prices = []
# Atveram failu un lasām to rindu pa rindai
with open('/content/prices.txt', 'r') as file:
    for line in file:
        line = line.strip()  # Noņemam liekos atstarpes un jaunas rindas zīmes
        try:
            price = float(line)  # Mēģinām pārveidot rindu par decimālskaitli
            prices.append(price)  # Pievienojam skaitli sarakstam
        except ValueError:
            # Ja rinda nav skaitliska, turpinām nākamo iterāciju
            continue

# Veicam aprēķinus ar iegūtajām skaitliskajām vērtībām
total_price = sum(prices)
total_items = len(prices)

print(f"Total price of all items: {total_price}")
print(f"Total number of purchased items: {total_items}")

Total price of all items: 17.32
Total number of purchased items: 5